<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Buyer Name</label>
      <div class="form-control">{{cryptoReg.name}}</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="form-control">{{cryptoReg.email}}</div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <div class="form-control">{{cryptoReg.phone}}</div>
    </div>
    <div class="form-group">
      <label>Crypto Model</label>
      <div class="form-control">{{cryptoReg.coinType}}</div>
    </div>
    <div class="form-group">
      <label>Amount of coins to sell</label>
      <div class="form-control">{{cryptoReg.amountOfCoins}}</div>
    </div>
    <div class="form-group">
      <label>Purchase Date</label>
      <div class="form-control">{{cryptoReg.purchaseDate}}</div>
    </div>
  </div>
</div>
